.post-section {
    border: solid red;
}

.post-header {
    display: flex;
    align-items: center; 
}

.user-profile-picture img {
    border-radius: 50%;
    height: 30px;
    padding: 0 10px;
}

.username-section {
    border: solid orange;
    font-size: .75rem;
}

.post-main-image img {
    border: solid green;
    height: 500px;
    width: 500px;
}
